<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div>
        <h3>Библиотека</h3>
    </div>

    <div>
        <a th:href="@{/book/list}" href="list.html">Список книг</a>
    </div>

    <div>
        <a th:href="@{/book/create}" href="create.html">Добавить новую книгу</a>
    </div>
</div>
</body>
</html>